<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Chat</title>
<link rel="stylesheet" href="/css/secondYear.css">
<link rel="stylesheet" href="https://fonts.googleapis.com">
</head>
<body>
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>
	<header>
		<h1 class="heading">
			<a href="/teacher/" style="text-decoration: none; color: inherit;">Community
				Chat (Teacher Panel)</a>
		</h1>
		<div class="top-right-icons" style="display: flex; align-items: center; gap: 10px; margin-right: 15px;">
			<div class="admin-icon" id="adminIcon" title="Admin Tools">
				<h1 class="heading">Block/Unblock</h1>
			</div>
			
			<div class="admin-icon" id="logsIcon">
				<a  href="/teacher/logs" title="Logs" style="text-decoration: none;">
					<h1 class="heading">Logs</h1>
				</a>
			</div>
		
			<div class="profile-icon" id="profileIcon">
				<img
					th:src="${user.profileImage} != null ? @{${user.profileImage}} : @{/user.png}"
					alt="Profile Picture">

			</div>
		</div>
	</header>

	<div class="container">

		<aside class="chat-list">
		
			<a href="/teacher/first" >
				<div class="chat-icon" title="1st Year" style="background-image: url('/1st.png');"></div>
			</a>  
			<a href="/teacher/second">
				<div class="chat-icon" title="2nd Year" style="background-image: url('/2nd.png');"></div>
			</a>
			
			<a href="/teacher/third">
				<div class="chat-icon" title="3rd Year" style="background-image: url('/3rd.png');"></div>
			</a>
			<a href="/teacher/fourth">
				<div class="chat-icon" title="4th Year" style="background-image: url('/4th.png');"></div>
			</a>

		</aside>

		<div id="username-page" class="chat-section">
			<div class="username-page-container">
				<h1 class="title">Second Year</h1>
				<div class="form-group" id="usernameForm">
					<button type="submit" id="startChat" class="accent username-submit">Start
						Chatting</button>
				</div>
			</div>
		</div>

		<div id="chat-page" class="hidden chat-section">
			<div class="chat-container">
				<div class="chat-header">
					<h2>Second Year</h2>
				</div>
				<div class="connecting">Connecting...</div>
				<ul id="messageArea">

				</ul>
				<form id="messageForm" name="messageForm">
					<div class="form-group" id="sendForm">
						<div class="input-group clearfix">
							<input type="text" id="message" placeholder="Type a message..."
								autocomplete="off" class="form-control" />
							<button type="submit" class="primary">Send</button>
							<button id="exitChat" class="danger">Exit</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<aside class="important-material">
			<h2 style="margin-top: 0px;">Important Material</h2>
			<ul style="list-style-type: none; padding-left: 0;">
				<li><a href="https://drive.google.com/drive/folders/1GQOOeuotiB-ps5d-_cms8pdn4HEbHMOO?usp=share_link " target="_blank">Previous
						Year Papers</a></li>
				<li><a href="https://drive.google.com/drive/folders/1WlL83Sp40Mn3Y4B2eyIJURh8V0AGJWG-?usp=share_link" target="_blank">Notes</a></li>
				<li><a href="https://drive.google.com/drive/folders/1kvINFLuD-Df4Ryhb2QCZi1YDlmruGjbX?usp=share_link " target="_blank">PPTs</a></li>
			</ul>
		</aside>
	</div>

	<div class="profile-popup" id="profilePopup">
		<div class="popup-content">
			<span class="close" id="closePopup">&times;</span>
		<div class="profile-icon" id="profileIcon">
				<img
					th:src="${user.profileImage} != null ? @{${user.profileImage}} : @{/user.png}"
					alt="Profile Picture">

			</div>
			<h2 id="fullName">[[${user.fullName}]]</h2>
			<h3>[[${user.regNo}]]</h3>
			<h3>[[${user.email}]]</h3>
			<a href="/teacher/photo">
				<button class="edit-profile">Upload Profile</button>
			</a> 
			<a href="/teacher/changePass"><button class="changePassword">Change
					Password</button></a> <a href="/logout"><button class="logout">Log
					Out</button></a>

		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="/js/secondYear.js"></script>
</body>
</html>
