<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Change Password</title>
<link rel="stylesheet" type="text/css" href="/css/changePassword.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Change Password</h1>
			
			<th:block th:if="${session.msg}">
			<p>[[${session.msg}]]</p>
			</th:block>
			
			<form action="/changePassword" method="post">
				
				<div class="input-group">

					<input class="form-control" type="password" id="password"
						name="newPass" placeholder="Enter New Password" required> <span
						class="eye-icon" id="togglePassword"
						onclick="togglePasswordVisibility()"> 👁️ </span>
				</div>

				<div class="input-group">
					<input type="password" id="confirmPassword" name="confirmPassword"
						placeholder="Confirm New Password" required> <span
						class="eye-icon" id="toggleConfirmPassword"
						onclick="toggleConfirmPasswordVisibility()"> 👁️ </span>
				</div>
				
				<input type="hidden" name="regNo" th:value="${regNo}">
				
				<button type="submit" class="login-btn">Change Password</button>
			</form>
		</div>
	</div>
	<script src="/js/changePassword.js"></script>
</body>
</html>